# Train a Sagemaker model with data from Exasol

This notebook shows you how to train an AWS Sagemaker model using data from withing the Exasol database.
The trick with the Python Sagemaker SDK is, that the actual training is not run on this notebooks instance but on a dedicated EC2 instance.
That saves costs, since you only pay for the fast and expensive training instance during training.
The exchange is handled using an CSV file. So this notebook will write the training data as a CSV file to an S3 bucket.
From there the training instance will read it, and write back the trained model.

Typically, you prepare the data using python in this notebook (for example using pandas).
We will, however, use a more performant approach: Instead of passing all data through this notebook,
we will directly prepare and export them in the Exasol database using SQL.
By that you can use the computation power of your entire Exasol cluster!

## Parameters

In [ ]:
EXASOL_HOST = "<database_host>" # change
EXASOL_PORT = "8563" # change if needed
EXASOL_USER = "sys" # change if needed
EXASOL_PASSWORD = "<database_password>" #change
EXASOL_SCHEMA = "IDA"

# We will asign these tags to all resources created by this notebook. That's usefull to monitor your costs.
# add for example: {"Key":"owner", "Value": "your.name@example.com"}
tags = []

## Preparations

In [3]:
!pip install pyexasol

import boto3, sys, math, os, sagemaker, pyexasol
import numpy as np                                
import pandas as pd                                                            
from sagemaker import get_execution_role
from sagemaker import image_uris
from sagemaker.inputs import TrainingInput
from sagemaker.estimator import Estimator
from sagemaker.serializers import CSVSerializer

## Prepare Training Data

First, create a connection to the Exasol database:

In [95]:
EXASOL_CONNECTION = "{host}:{port}".format(host=EXASOL_HOST, port=EXASOL_PORT)
exasol = pyexasol.connect(dsn=EXASOL_CONNECTION, user=EXASOL_USER, password=EXASOL_PASSWORD, compression=True)

First let's take a look on our training data:

In [52]:
exasol.export_to_pandas("SELECT * FROM {schema!q}.TRAIN LIMIT 4",{"schema": EXASOL_SCHEMA})

,CLASS,AA_000,AB_000,AC_000,AD_000,AE_000,AF_000,AG_000,AG_001,AG_002,...,EE_002,EE_003,EE_004,EE_005,EE_006,EE_007,EE_008,EE_009,EF_000,EG_000
0,neg,41116,NaN,0,NaN,0,0,0,0,0,...,199780,101244,272518,433912,372908,163418,195492,13496,0,0
1,neg,59726,NaN,78,40.0,0,0,0,0,0,...,340830,201640,583574,708870,582644,227474,70738,14,0,0
2,neg,30066,NaN,340,340.0,0,0,0,0,0,...,258204,129524,265784,294224,199650,91130,111416,3228,0,0
3,neg,125250,NaN,0,NaN,0,0,0,0,0,...,794026,510006,1348866,1101396,825410,489878,505230,5224,0,0

There are two things we need to do:
    
* Split into train and validation data
* Replace `CLASS` column by a column with boolean values

For the split we add a column `SPLIT` that has a random value between 0 and 1, so we can partition the data by a condition on that column.

In addition, we replace the `CLASS` with the text values `pos` and `neg` by a new column `CLASS_POS` with boolean values.

In [86]:
all_columns = exasol.export_to_pandas("SELECT * FROM {schema!q}.TRAIN LIMIT 1;", {"schema": EXASOL_SCHEMA})
column_names = list(all_columns)
column_names.remove("CLASS")
exasol.execute("""CREATE OR REPLACE TABLE {schema!q}.TRAIN_PREPARED AS (
               SELECT RANDOM() AS SPLIT,
               (CLASS = 'pos') as CLASS_POS, {all_columns_except_class!q} FROM {schema!q}.TRAIN)""",
               { "schema": EXASOL_SCHEMA, "all_columns_except_class": column_names})

Let's check:

In [87]:
exasol.export_to_pandas("SELECT * FROM {schema!q}.TRAIN_PREPARED LIMIT 4", {"schema": EXASOL_SCHEMA})

,SPLIT,CLASS_POS,AA_000,AB_000,AC_000,AD_000,AE_000,AF_000,AG_000,AG_001,...,EE_002,EE_003,EE_004,EE_005,EE_006,EE_007,EE_008,EE_009,EF_000,EG_000
0,0.370128,0,76698,NaN,2130706438,280.0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,0.031734,0,33058,NaN,0,NaN,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,0.101403,0,41040,NaN,228,100.0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,0.765778,0,12,0.0,70,66.0,0,10,0,0,...,240,46,58,44,10,0,0,0,4,32

... and export the test data into an CSV file.

To do so, we will introduce the Exasol database to directly export to the S3 bucket. For that it write permission for the S3 bucket.
For that there are two options:

* Provide credentials to the EXPORT command (if you decide for this solution, you have to edit the export statements below)
* Leave connection empty and assign the permissions to the Exasol databases EC2 instance role

In [88]:
role = get_execution_role()
sess = sagemaker.Session()
bucket = sess.default_bucket()

columns = exasol.export_to_pandas("SELECT * FROM {schema!q}.TRAIN_PREPARED LIMIT 1;", {"schema": EXASOL_SCHEMA})
column_names = list(columns)
column_names.remove("SPLIT") ## remove split column from select_list
parameters = {"all_columns_except_split": column_names, "schema": EXASOL_SCHEMA, "bucket": bucket}
exasol.execute("""EXPORT (SELECT {all_columns_except_split!q} FROM {schema!q}.TRAIN_PREPARED WHERE SPLIT <= 0.8)
                    INTO CSV AT 'https://{bucket!r}.s3.amazonaws.com'
                    USER '' IDENTIFIED BY '' FILE 'train/train.csv';""", parameters)
exasol.execute("""EXPORT (SELECT {all_columns_except_split!q} FROM {schema!q}.TRAIN_PREPARED WHERE SPLIT > 0.8)
                    INTO CSV AT 'https://{bucket!r}.s3.amazonaws.com'
                    USER '' IDENTIFIED BY '' FILE 'validation/validation.csv';""", parameters)

In [ ]:
exasol.execute("DROP TABLE {schema!q}.TRAIN_PREPARED;",{"schema": EXASOL_SCHEMA});

## Train model

Now let's train the model. The following cell will start an `ml.m4.xlarge` ec2 instance and run the training on it. It will read the training data from the S3 bucket.

In [90]:
s3_input_train = TrainingInput(s3_data='s3://{}/train'.format(bucket), content_type='csv')
s3_input_validation = TrainingInput(s3_data='s3://{}/validation/'.format(bucket), content_type='csv')

container = image_uris.retrieve('xgboost', boto3.Session().region_name, '1.2-1' )
xgb = Estimator(container,
                role,
                instance_count=1,
                instance_type='ml.m4.xlarge',
                output_path='s3://{}/output'.format(bucket),
                tags = tags
               )

xgb.set_hyperparameters(max_depth=5,
                        eta=0.2,
                        gamma=4,
                        min_child_weight=6,
                        subsample=0.8,
                        objective='binary:logistic',
                        num_round=100)

xgb.fit({'train': s3_input_train, 'validation': s3_input_validation})

2020-12-11 09:05:54 Starting - Starting the training job...
2020-12-11 09:06:18 Starting - Launching requested ML instancesProfilerReport-1607677554: InProgress
......
2020-12-11 09:07:19 Starting - Preparing the instances for training......
2020-12-11 09:08:19 Downloading - Downloading input data...
2020-12-11 09:08:40 Training - Downloading the training image...
2020-12-11 09:09:20 Training - Training image download completed. Training in progress...INFO:sagemaker-containers:Imported framework sagemaker_xgboost_container.training
INFO:sagemaker-containers:Failed to parse hyperparameter objective value binary:logistic to Json.
Returning the value itself
INFO:sagemaker-containers:No GPUs detected (normal if no gpus installed)
INFO:sagemaker_xgboost_container.training:Running XGBoost Sagemaker in algorithm mode
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Single node training.
INFO:root:Train matrix has 48162 rows
INFO:root:Validation matrix has 11838 rows
[0]#011train-error:0.00864#011validation-error:0.01191
[1]#011train-error:0.00764#011validation-error:0.01064
[2]#011train-error:0.00772#011validation-error:0.01056
[3]#011train-error:0.00718#011validation-error:0.01031
[4]#011train-error:0.00687#011validation-error:0.01056
[5]#011train-error:0.00671#011validation-error:0.00997
[6]#011train-error:0.00671#011validation-error:0.00946
[7]#011train-error:0.00637#011validation-error:0.00963
[8]#011train-error:0.00644#011validation-error:0.00946
[9]#011train-error:0.00606#011validation-error:0.00929
[10]#011train-error:0.00585#011validation-error:0.00946
[11]#011train-error:0.00565#011validation-error:0.00938
[12]#011train-error:0.00552#011validation-error:0.00946
[13]#011train-error:0.00546#011validation-error:0.00912
[14]#011train-error:0.00532#011validation-error:0.00912
[15]#011train-error:0.00523#011validation-error:0.00938
[16]#011train-error:0.00519#011validation-error:0.00904
[17]#011train-error:0.00505#011validation-error:0.00904
[18]#011train-error:0.00492#011validation-error:0.00895
[19]#011train-error:0.00486#011validation-error:0.00887
[20]#011train-error:0.00478#011validation-error:0.00862
[21]#011train-error:0.00465#011validation-error:0.00895
[22]#011train-error:0.00465#011validation-error:0.00853
[23]#011train-error:0.00459#011validation-error:0.00904
[24]#011train-error:0.00442#011validation-error:0.00870
[25]#011train-error:0.00444#011validation-error:0.00887
[26]#011train-error:0.00434#011validation-error:0.00912
[27]#011train-error:0.00415#011validation-error:0.00878
[28]#011train-error:0.00392#011validation-error:0.00862
[29]#011train-error:0.00392#011validation-error:0.00836
[30]#011train-error:0.00392#011validation-error:0.00836
[31]#011train-error:0.00386#011validation-error:0.00811
[32]#011train-error:0.00386#011validation-error:0.00828
[33]#011train-error:0.00380#011validation-error:0.00828
[34]#011train-error:0.00378#011validation-error:0.00819
[35]#011train-error:0.00367#011validation-error:0.00819
[36]#011train-error:0.00363#011validation-error:0.00819
[37]#011train-error:0.00351#011validation-error:0.00836
[38]#011train-error:0.00328#011validation-error:0.00819
[39]#011train-error:0.00316#011validation-error:0.00786
[40]#011train-error:0.00303#011validation-error:0.00794
[41]#011train-error:0.00291#011validation-error:0.00777
[42]#011train-error:0.00311#011validation-error:0.00786
[43]#011train-error:0.00293#011validation-error:0.00811
[44]#011train-error:0.00297#011validation-error:0.00786
[45]#011train-error:0.00291#011validation-error:0.00802
[46]#011train-error:0.00295#011validation-error:0.00811
[47]#011train-error:0.00280#011validation-error:0.00811
[48]#011train-error:0.00272#011validation-error:0.00786
[49]#011train-error:0.00266#011validation-error:0.00769
[50]#011train-error:0.00249#011validation-error:0.00743
[51]#011train-error:0.00247#011validation-error:0.00760
[52]#011train-error:0.00241#011validation-error:0.00760
[53]#011train-error:0.00237#011validation-error:0.00769
[54]#011train-error:0.00231#011validation-error:0.00760
[55]#011train-error:0.00226#011validation-error:0.00743
[56]#011train-error:0.00218#011validation-error:0.00743
[57]#011train-error:0.00210#011validation-error:0.00735
[58]#011train-error:0.00210#011validation-error:0.00735
[59]#011train-error:0.00206#011validation-error:0.00735
[60]#011train-error:0.00201#011validation-error:0.00710
[61]#011train-error:0.00197#011validation-error:0.00718
[62]#011train-error:0.00197#011validation-error:0.00718
[63]#011train-error:0.00193#011validation-error:0.00735
[64]#011train-error:0.00191#011validation-error:0.00735
[65]#011train-error:0.00189#011validation-error:0.00718
[66]#011train-error:0.00187#011validation-error:0.00718
[67]#011train-error:0.00183#011validation-error:0.00743
[68]#011train-error:0.00179#011validation-error:0.00726
[69]#011train-error:0.00179#011validation-error:0.00726
[70]#011train-error:0.00179#011validation-error:0.00760
[71]#011train-error:0.00179#011validation-error:0.00760
[72]#011train-error:0.00177#011validation-error:0.00735
[73]#011train-error:0.00177#011validation-error:0.00743
[74]#011train-error:0.00172#011validation-error:0.00726
[75]#011train-error:0.00174#011validation-error:0.00735
[76]#011train-error:0.00170#011validation-error:0.00743
[77]#011train-error:0.00172#011validation-error:0.00718
[78]#011train-error:0.00177#011validation-error:0.00726
[79]#011train-error:0.00170#011validation-error:0.00718
[80]#011train-error:0.00158#011validation-error:0.00710
[81]#011train-error:0.00166#011validation-error:0.00718
[82]#011train-error:0.00164#011validation-error:0.00735
[83]#011train-error:0.00158#011validation-error:0.00718
[84]#011train-error:0.00154#011validation-error:0.00693
[85]#011train-error:0.00147#011validation-error:0.00693
[86]#011train-error:0.00147#011validation-error:0.00693
[87]#011train-error:0.00147#011validation-error:0.00693
[88]#011train-error:0.00143#011validation-error:0.00676
[89]#011train-error:0.00147#011validation-error:0.00693
[90]#011train-error:0.00150#011validation-error:0.00701
[91]#011train-error:0.00150#011validation-error:0.00710
[92]#011train-error:0.00150#011validation-error:0.00710
[93]#011train-error:0.00150#011validation-error:0.00710
[94]#011train-error:0.00150#011validation-error:0.00710
[95]#011train-error:0.00150#011validation-error:0.00710
[96]#011train-error:0.00150#011validation-error:0.00710
[97]#011train-error:0.00141#011validation-error:0.00693
[98]#011train-error:0.00135#011validation-error:0.00693
[99]#011train-error:0.00131#011validation-error:0.00684

2020-12-11 09:10:21 Uploading - Uploading generated training model
2020-12-11 09:10:21 Completed - Training job completed
Training seconds: 114
Billable seconds: 114

## Deploy

Now we create an endpoint (ec2-instance that runs inference)

In [ ]:
xgb_predictor = xgb.deploy(initial_instance_count=1,
                           instance_type='ml.t2.medium')

------

## Test the Model

For testing the newly created model, we will load the contents of the `TEST` table and run the predictions.

In [70]:
test_data = exasol.export_to_pandas("SELECT * FROM {schema!q}.TEST", {"schema": EXASOL_SCHEMA})
test_data = pd.get_dummies(test_data)     # Convert categorical variables to sets of indicators
test_data.sample(2)

,AA_000,AB_000,AC_000,AD_000,AE_000,AF_000,AG_000,AG_001,AG_002,AG_003,...,EE_004,EE_005,EE_006,EE_007,EE_008,EE_009,EF_000,EG_000,CLASS_neg,CLASS_pos
3355,454,2.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2332.0,1912.0,1822.0,8476.0,90.0,0.0,0.0,0.0,1,0
8023,38224,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,337118.0,332806.0,225650.0,123556.0,131950.0,3338.0,0.0,0.0,1,0

In [67]:
xgb_predictor.serializer = CSVSerializer()
def predict(data, rows=500):
    split_array = np.array_split(data, int(data.shape[0] / float(rows) + 1))
    predictions = ''
    for array in split_array:
        predictions = ','.join([predictions, xgb_predictor.predict(array).decode('utf-8')])

    return np.fromstring(predictions[1:], sep=',')

predictions = predict(test_data.drop(['CLASS_pos', "CLASS_neg"], axis=1).to_numpy())

In [68]:
pd.crosstab(index=test_data['CLASS_pos'], columns=np.round(predictions), rownames=['actuals'], colnames=['predictions'])

predictions    0.0  1.0
actuals
0            15623    2
1              349   26

## Delete endpoint

This notebook leaves the endpoint running, so that you can use it for predictions.

However, that causes costs. So if you don't need it anymore, don't forget to delete it.

In [ ]:
#xgb_predictor.delete_endpoint();