<a href="https://colab.research.google.com/gist/tkilias/64631716e39bcd523c93f3478019928c/welcome-to-colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyexasol

Collecting pyexasol
  Downloading https://files.pythonhosted.org/packages/40/70/3f208b603e885eeeaa66d23b8c3133b8e202e2cdb6061f3a048dcdb50e60/pyexasol-0.13.1-py3-none-any.whl (40kB)
    100% |████████████████████████████████| 40kB 188kB/s
Collecting websocket-client>=0.47.0 (from pyexasol)
  Downloading https://files.pythonhosted.org/packages/4c/5f/f61b420143ed1c8dc69f9eaec5ff1ac36109d52c80de49d66e0c36c3dfdf/websocket_client-0.57.0-py2.py3-none-any.whl (200kB)
    100% |████████████████████████████████| 204kB 2.1MB/s
Collecting rsa (from pyexasol)
  Downloading https://files.pythonhosted.org/packages/1c/df/c3587a667d6b308fadc90b99e8bc8774788d033efcc70f4ecaae7fad144b/rsa-4.6-py3-none-any.whl (47kB)
    100% |████████████████████████████████| 51kB 1.8MB/s
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from websocket-client>=0.47.0->pyexasol) (1.12.0)
Collecting pyasn1>=0.1.3 (from rsa->pyexasol)
  Downloading https://files.pythonhosted.org/packages/62/1e/a94a8d635fa3ce4cfc7f506003548d0a2447ae76fd5ca53932970fe3053f/pyasn1-0.4.8-py2.py3-none-any.whl (77kB)
    100% |████████████████████████████████| 81kB 1.2MB/s
Installing collected packages: websocket-client, pyasn1, rsa, pyexasol
Successfully installed pyasn1-0.4.8 pyexasol-0.13.1 rsa-4.6 websocket-client-0.57.0

In [2]:
EXASOL_DSN="db_container_test:8888"
EXASOL_USER="sys"
EXASOL_PASSWORD="exasol" 
EXASOL_SCHEMA="ML_TEST"

import pyexasol
c = pyexasol.connect(dsn=EXASOL_DSN, user=EXASOL_USER, password=EXASOL_PASSWORD)
c.execute(f"CREATE SCHEMA IF NOT EXISTS {EXASOL_SCHEMA};")
c.open_schema(EXASOL_SCHEMA)
print(c.execute("select 1").fetchall())

[(1,)]

In [3]:
import pandas as pd
c.execute("""
CREATE OR REPLACE TABLE adult (
  age integer,
  workclass varchar(2000000),
  fnlwgt integer,	
  education varchar(2000000),
  education_num integer,	
  marital_status varchar(2000000),
  occupation varchar(2000000),
  relationship varchar(2000000),
  race varchar(2000000),
  sex varchar(2000000),
  capitalgain integer,	
  capitalloss integer,	
  hoursperweek integer,
  native_country varchar(2000000),
  class varchar(2000000)
);
""")
c.execute("""
IMPORT INTO adult 
FROM CSV AT 'https://datahub.io/machine-learning/adult/r/' FILE '1.csv'
SKIP = 1;
""")
print("count:",c.execute("select count(*) from adult").fetchall())
print("raw size in MB",c.execute("select RAW_OBJECT_SIZE/(1024*1024) from EXA_USER_OBJECT_SIZES where OBJECT_NAME='ADULT'").fetchall())
for i in range(5):
    c.execute("""
              insert into adult select * from  adult 
              """)
print("amplified count:",c.execute("select count(*) from adult").fetchall())
print("amplified raw size in MB",c.execute("select RAW_OBJECT_SIZE/(1024*1024) from EXA_USER_OBJECT_SIZES where OBJECT_NAME='ADULT'").fetchall())
c.export_to_pandas("select * from adult limit 10")

count: [(48842,)]
raw size in MB [('5.97541904449462890625',)]
amplified count: [(1562944,)]
amplified raw size in MB [('191.213409423828125',)]

,AGE,WORKCLASS,FNLWGT,EDUCATION,EDUCATION_NUM,MARITAL_STATUS,OCCUPATION,RELATIONSHIP,RACE,SEX,CAPITALGAIN,CAPITALLOSS,HOURSPERWEEK,NATIVE_COUNTRY,CLASS
0,4,Private,67841,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,2,United-States,>50K\r
1,2,Local-gov,244522,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,3,3,United-States,>50K\r
2,0,Private,430471,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,2,United-States,<=50K\r
3,3,Private,194698,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,3,United-States,<=50K\r
4,1,Private,94235,Bachelors,13,Never-married,Craft-repair,Unmarried,White,Male,0,0,2,United-States,<=50K\r
5,4,Private,188330,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,4,United-States,<=50K\r
6,3,Local-gov,146181,9th,5,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,2,United-States,<=50K\r
7,0,Private,177125,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,0,United-States,<=50K\r
8,1,Self-emp-inc,68330,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,3,United-States,<=50K\r
9,3,Private,95636,Some-college,10,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K\r

In [4]:
import textwrap
c.execute("""
CREATE OR REPLACE TABLE adult_with_id AS 
SELECT 
  rownum as id,
  AGE, WORKCLASS, FNLWGT, EDUCATION, EDUCATION_NUM, MARITAL_STATUS, OCCUPATION, 
  RELATIONSHIP, RACE, SEX, CAPITALGAIN, CAPITALLOSS, HOURSPERWEEK, NATIVE_COUNTRY, CLASS
FROM adult;
""")
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE WORKCLASS_CATEGORIES AS SELECT rownum - 1 AS id, WORKCLASS 
FROM (SELECT DISTINCT WORKCLASS FROM adult_with_id);
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE EDUCATION_CATEGORIES AS SELECT rownum - 1 AS id, EDUCATION
FROM (SELECT DISTINCT EDUCATION FROM adult_with_id);
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE MARITAL_STATUS_CATEGORIES AS SELECT rownum - 1 AS id, MARITAL_STATUS 
FROM (SELECT DISTINCT MARITAL_STATUS FROM adult_with_id);
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE OCCUPATION_CATEGORIES AS SELECT rownum - 1 AS id, OCCUPATION 
FROM (SELECT DISTINCT OCCUPATION FROM adult_with_id);
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE RELATIONSHIP_CATEGORIES AS SELECT rownum - 1 AS id, RELATIONSHIP 
FROM (SELECT DISTINCT RELATIONSHIP FROM adult_with_id);
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE RACE_CATEGORIES AS SELECT rownum - 1 AS id, RACE 
FROM (SELECT DISTINCT RACE FROM adult_with_id);
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE SEX_CATEGORIES AS SELECT rownum - 1 AS id, SEX 
FROM (SELECT DISTINCT SEX FROM adult_with_id);
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE NATIVE_COUNTRY_CATEGORIES AS SELECT rownum - 1 AS id, NATIVE_COUNTRY 
FROM (SELECT DISTINCT NATIVE_COUNTRY FROM adult_with_id);
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE CLASS_CATEGORIES AS SELECT rownum - 1 AS id, CLASS 
FROM (SELECT DISTINCT CLASS FROM adult_with_id);
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE TABLE adult_preprocessed AS 
SELECT
  adult.id,
  1.00 * ("AGE" - MIN("AGE") OVER()) / (MAX("AGE") OVER () - MIN("AGE") OVER ()) AS "AGE", 
  1.00 * ("FNLWGT" - MIN("FNLWGT") OVER()) / (MAX("FNLWGT") OVER () - MIN("FNLWGT") OVER ()) AS "FNLWGT", 
  1.00 * ("EDUCATION_NUM" - MIN("EDUCATION_NUM") OVER()) / (MAX("EDUCATION_NUM") OVER () - MIN("EDUCATION_NUM") OVER ()) AS "EDUCATION_NUM", 
  1.00 * ("CAPITALGAIN" - MIN("CAPITALGAIN") OVER()) / (MAX("CAPITALGAIN") OVER () - MIN("CAPITALGAIN") OVER ()) AS "CAPITALGAIN", 
  1.00 * ("CAPITALLOSS" - MIN("CAPITALLOSS") OVER()) / (MAX("CAPITALLOSS") OVER () - MIN("CAPITALLOSS") OVER ()) AS "CAPITALLOSS", 
  1.00 * ("HOURSPERWEEK" - MIN("HOURSPERWEEK") OVER()) / (MAX("HOURSPERWEEK") OVER () - MIN("HOURSPERWEEK") OVER ()) AS "HOURSPERWEEK", 
  WORKCLASS_CATEGORIES.id AS WORKCLASS, 
  EDUCATION_CATEGORIES.id AS EDUCATION, 
  MARITAL_STATUS_CATEGORIES.id AS MARITAL_STATUS, 
  OCCUPATION_CATEGORIES.id AS OCCUPATION, 
  RELATIONSHIP_CATEGORIES.id AS RELATIONSHIP, 
  RACE_CATEGORIES.id AS RACE, 
  SEX_CATEGORIES.id AS SEX, 
  NATIVE_COUNTRY_CATEGORIES.id AS NATIVE_COUNTRY, 
  CLASS_CATEGORIES.id AS CLASS 
FROM adult_with_id as adult
JOIN WORKCLASS_CATEGORIES ON adult.WORKCLASS = WORKCLASS_CATEGORIES.WORKCLASS 
JOIN EDUCATION_CATEGORIES ON adult.EDUCATION = EDUCATION_CATEGORIES.EDUCATION 
JOIN MARITAL_STATUS_CATEGORIES ON adult.MARITAL_STATUS = MARITAL_STATUS_CATEGORIES.MARITAL_STATUS 
JOIN OCCUPATION_CATEGORIES ON adult.OCCUPATION = OCCUPATION_CATEGORIES.OCCUPATION 
JOIN RELATIONSHIP_CATEGORIES ON adult.RELATIONSHIP = RELATIONSHIP_CATEGORIES.RELATIONSHIP 
JOIN RACE_CATEGORIES ON adult.RACE = RACE_CATEGORIES.RACE 
JOIN SEX_CATEGORIES ON adult.SEX = SEX_CATEGORIES.SEX 
JOIN NATIVE_COUNTRY_CATEGORIES ON adult.NATIVE_COUNTRY = NATIVE_COUNTRY_CATEGORIES.NATIVE_COUNTRY 
JOIN CLASS_CATEGORIES ON adult.CLASS = CLASS_CATEGORIES.CLASS
"""))
print("preprocessed count:",c.execute("select count(*) from ADULT_PREPROCESSED").fetchall())
print("preprocessed raw size in MB",c.execute("select RAW_OBJECT_SIZE/(1024*1024) from EXA_USER_OBJECT_SIZES where OBJECT_NAME='ADULT_PREPROCESSED'").fetchall())
c.export_to_pandas("select * from adult_preprocessed limit 10")

preprocessed count: [(1447104,)]
preprocessed raw size in MB [('276.01318359375',)]

,ID,AGE,FNLWGT,EDUCATION_NUM,CAPITALGAIN,CAPITALLOSS,HOURSPERWEEK,WORKCLASS,EDUCATION,MARITAL_STATUS,OCCUPATION,RELATIONSHIP,RACE,SEX,NATIVE_COUNTRY,CLASS
0,295288,0.50,0.099751,0.666667,0,0,0.50,8,7,1,13,5,2,0,29,0
1,295289,1.00,0.131473,0.533333,0,0,0.50,8,4,6,8,1,2,0,29,1
2,295291,0.25,0.106148,0.600000,0,0,0.50,8,13,4,8,5,2,0,29,0
3,295297,1.00,0.138466,0.600000,0,0,0.50,7,13,1,10,5,2,0,29,0
4,295300,1.00,0.044264,0.533333,0,0,0.50,5,4,1,14,3,2,0,29,0
5,295303,0.50,0.013905,0.800000,0,0,0.75,8,14,1,10,5,2,0,29,0
6,295304,0.50,0.131596,0.600000,0,0,0.50,1,13,4,14,5,2,0,29,0
7,295306,0.00,0.138772,0.600000,0,0,0.50,7,13,4,10,3,2,0,29,0
8,295310,0.00,0.138703,0.533333,0,0,0.25,8,4,4,9,4,2,0,29,0
9,295315,0.75,0.105415,0.666667,0,0,0.50,8,7,1,14,3,2,0,29,0

In [5]:
import textwrap
c.execute(textwrap.dedent("""
CREATE OR REPLACE PYTHON3 SCALAR SCRIPT udf_utils() RETURNS int AS

def reset(ctx):
  ctx.reset()
  df=ctx.get_dataframe(1,start_col=1)

def iterate_trough_dataset(ctx, batch_size, 
                          map_function,
                          init_function,
                          aggregate_function):
  reset(ctx)
  number_of_tuples_left=ctx.size()-1
  state = init_function()
  while True:
    if number_of_tuples_left<batch_size:
      if number_of_tuples_left>0:
        df = ctx.get_dataframe(number_of_tuples_left,start_col=1)
        number_of_tuples_left=0
      else:
        reset(ctx)
        break
    else:
      df = ctx.get_dataframe(batch_size,start_col=1)
      number_of_tuples_left=number_of_tuples_left-batch_size
    result = map_function(df)
    state = aggregate_function(state, result)
  return state
/
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE PYTHON3 SCALAR SCRIPT bucketfs_utils(...)
RETURNS INT AS
import os
import requests
import uuid
from sklearn.externals import joblib

def upload_object_to_bucketfs(object, host, bucket_name, path, user, password, secure=True):
    temp_file = "/tmp/" + str(uuid.uuid4().hex + ".pkl")
    joblib.dump(object, temp_file, compress=True)
    protocol = 'https' if secure else 'http'

    with open(temp_file, "rb") as f:
        url = f"{protocol}://{user}:{password}@{host}/{bucket_name}/{path}"
        response=requests.put(url, data=f)
        if response.status_code != 200:
            raise Exception(str(response)+" "+url)
    try:
        os.remove(temp_file)
    except OSError:
        pass

def download_object_from_bucketfs(host, bucket_name, path, user, password, secure=True):
    protocol = 'https' if secure else 'http'
    url = f"{protocol}://{user}:{password}@{host}/{bucket_name}/{path}"
    response=requests.get(url)
    if response.status_code != 200:
        raise Exception(str(response))
    temp_file = "/tmp/" + str(uuid.uuid4().hex + ".pkl")
    with open(temp_file, "wb") as f:
        f.write(response.content)
    object = joblib.load(temp_file)
    try:
        os.remove(temp_file)
    except OSError:
        pass
    return object
/
"""))

c.execute(textwrap.dedent("""
CREATE OR REPLACE PYTHON3 SCALAR SCRIPT model_utils() RETURNS int AS
import pandas as pd
from pandas import DataFrame
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder

udf_utils = exa.import_script('ML_TEST.UDF_UTILS')

def get_config(ctx):
  df=ctx.get_dataframe(1,start_col=2)
  inputs = df.iloc[:,0:-1]
  categorical_input_column_names=[column for column in inputs.columns if inputs[column].iloc[0]>0]
  numerical_input_column_names=[column for column in inputs.columns if inputs[column].iloc[0]==-1]
  input_column_categories = np.array([int(inputs[column].iloc[0])+1 for column in categorical_input_column_names])
  target_column_name = df.columns[-1]
  target_classes=int(df[target_column_name].iloc[0])+1
  return {"categorical_input_column_names": categorical_input_column_names, 
          "numerical_input_column_names": numerical_input_column_names, 
          "input_column_categories":input_column_categories, 
          "target_column_name":target_column_name, 
          "target_classes":target_classes}

def create_model(ctx,data_config):
  input_column_one_hot_encoder=create_one_hot_encoder(ctx,
    data_config["input_column_categories"],
    data_config["categorical_input_column_names"])
  classifier=SGDClassifier(loss='log',n_jobs=1, warm_start=True)
  return {"input_column_one_hot_encoder":input_column_one_hot_encoder,"classifier":classifier}

def create_one_hot_encoder(ctx,categories,categorical_column_names):
  one_hot_encoder = OneHotEncoder(n_values=categories, sparse=False)
  udf_utils.reset(ctx)
  data=ctx.get_dataframe(2,start_col=2)[categorical_column_names].astype(int).values
  one_hot_encoder.fit(data)
  return one_hot_encoder

/
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE PYTHON3 SCALAR SCRIPT preprocessing_utils() RETURNS int AS
import pandas as pd
from pandas import DataFrame
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder

def encode_categorical_columns(categorical_columns: DataFrame, one_hot_encoder: OneHotEncoder):
  transformed_columns = DataFrame(one_hot_encoder.transform(categorical_columns.values))
  return transformed_columns

def preprocess_batch(df, data_config, 
                    input_column_one_hot_encoder):
  categorical_input_column_names = data_config["categorical_input_column_names"]
  numerical_input_column_names = data_config["numerical_input_column_names"]
  target_column_name = data_config["target_column_name"]

  encoded_input_categorical_columns = encode_categorical_columns(
                                          df[categorical_input_column_names],
                                          input_column_one_hot_encoder)
  numerical_input_columns = df[numerical_input_column_names].astype(float)
  input_columns = pd.concat([encoded_input_categorical_columns, 
                            numerical_input_columns],axis=1)
  target_column = df[target_column_name].astype(int)
  return input_columns, target_column


/
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE PYTHON3 SCALAR SCRIPT compute_score_utils() RETURNS int AS
import pandas as pd
from pandas import DataFrame
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder

udf_utils = exa.import_script('ML_TEST.UDF_UTILS')
model_utils = exa.import_script('ML_TEST.MODEL_UTILS')
preprocessing_utils = exa.import_script('ML_TEST.PREPROCESSING_UTILS')

def compute_score(ctx,batch_size, data_config, model):
  final_state = udf_utils.iterate_trough_dataset(
    ctx,batch_size,
    lambda df: compute_score_batch(ctx, df, data_config, model),
    lambda: {"count":0,"score_sum":0},
    lambda state, result: {"count":state["count"]+result[0],"score_sum":state["score_sum"]+result[1]})
  score=final_state["score_sum"]/final_state["count"]
  return score

def compute_score_batch(ctx, df, data_config, model):
  input_column_one_hot_encoder = model["input_column_one_hot_encoder"]
  input_columns, target_column = preprocessing_utils.preprocess_batch(
                                                  df, data_config,
                                                  input_column_one_hot_encoder)
  classifier = model["classifier"]
  score=classifier.score(input_columns.values,target_column.values)
  return len(df),len(df)*score
/
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE PYTHON3 SCALAR SCRIPT predict_utils() RETURNS int AS
import pandas as pd
from pandas import DataFrame
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder

udf_utils = exa.import_script('ML_TEST.UDF_UTILS')
model_utils = exa.import_script('ML_TEST.MODEL_UTILS')
preprocessing_utils = exa.import_script('ML_TEST.PREPROCESSING_UTILS')

def predict_batch(ctx, df, data_config, model):
  input_column_one_hot_encoder = model["input_column_one_hot_encoder"]
  input_columns, target_column = preprocessing_utils.preprocess_batch(
                                                  df, data_config,
                                                  input_column_one_hot_encoder)
  target_classes=np.arange(data_config["target_classes"])
  classifier = model["classifier"]
  result = classifier.predict(input_columns.values)
  return DataFrame({"0":df["1"],"1":target_column,"2":result,"3":df["1"].astype(str).apply(lambda x: "prediction")})

def predict(ctx,batch_size, data_config, model):
  udf_utils.iterate_trough_dataset(
    ctx,batch_size,
    lambda df: predict_batch(ctx, df, data_config, model),
    lambda: None,
    lambda state, result: ctx.emit( 
        result
      )
    )
/
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE PYTHON3 SCALAR SCRIPT train_utils() RETURNS int AS
import pandas as pd
from pandas import DataFrame
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder

udf_utils = exa.import_script('ML_TEST.UDF_UTILS')
model_utils = exa.import_script('ML_TEST.MODEL_UTILS')
preprocessing_utils = exa.import_script('ML_TEST.PREPROCESSING_UTILS')

def train_batch(ctx, df, data_config, model):
  input_column_one_hot_encoder = model["input_column_one_hot_encoder"]
  input_columns, target_column = preprocessing_utils.preprocess_batch(
                                                  df, data_config,
                                                  input_column_one_hot_encoder)
  target_classes=np.arange(data_config["target_classes"])
  classifier = model["classifier"]
  classifier.partial_fit(input_columns.values,target_column.values, classes=target_classes)

def train(ctx,batch_size, data_config, model):
  udf_utils.iterate_trough_dataset(
    ctx,batch_size,
    lambda df: train_batch(ctx, df, data_config, model),
    lambda: None,
    lambda state, result: None)

/
"""))
c.execute(textwrap.dedent("""
CREATE OR REPLACE PYTHON3 SET SCRIPT train_sgd_classifier(...) EMITS (result_column VARCHAR(2000000)) AS
import pandas as pd
from pandas import DataFrame
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder

import uuid

model_utils = exa.import_script('ML_TEST.MODEL_UTILS')
bucketfs_utils = exa.import_script('ML_TEST.BUCKETFS_UTILS')
predict_utils = exa.import_script('ML_TEST.PREDICT_UTILS')
compute_score_utils = exa.import_script('ML_TEST.COMPUTE_SCORE_UTILS')
train_utils = exa.import_script('ML_TEST.TRAIN_UTILS')

def run(ctx):
  data_config = model_utils.get_config(ctx)
  model = model_utils.create_model(ctx,data_config) 
  epochs=5
  batch_size=1000
  base_path = f"models/{uuid.uuid4()}"
  ctx.emit(base_path)
  for i in range(epochs):
    train_utils.train(ctx, batch_size, data_config, model)
    score=compute_score_utils.compute_score(ctx, batch_size, data_config, model)
    ctx.emit(f"epoch:{i} score:{score}")
    if score==1.0:
      break
  model_path = f"{base_path}/model.joblib"
  data_config_path = f"{base_path}/data_config.joblib"
  bucketfs_utils.upload_object_to_bucketfs(model, "localhost:6583", "default", model_path, "w", "write", secure=False)
  bucketfs_utils.upload_object_to_bucketfs(data_config, "localhost:6583", "default", data_config_path, "w", "write", secure=False)
/
"""))

c.execute(textwrap.dedent("""
CREATE OR REPLACE PYTHON3 SET SCRIPT predict_sgd_classifier(...) EMITS (id int, class int, predicted_class int, comment VARCHAR(2000000)) AS
import pandas as pd
from pandas import DataFrame
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder

bucketfs_utils = exa.import_script('ML_TEST.BUCKETFS_UTILS')
predict_utils = exa.import_script('ML_TEST.PREDICT_UTILS')
compute_score_utils = exa.import_script('ML_TEST.COMPUTE_SCORE_UTILS')

def init(ctx):
  df=ctx.get_dataframe(num_rows="all")
  ctx.reset()
  base_path=df['0'][0]
  batch_size=1000
  model_path = f"{base_path}/model.joblib"
  data_config_path = f"{base_path}/data_config.joblib"
  model=bucketfs_utils.download_object_from_bucketfs("localhost:6583", "default", model_path, "w", "write", secure=False)
  data_config=bucketfs_utils.download_object_from_bucketfs("localhost:6583", "default", data_config_path, "w", "write", secure=False)
  return model, data_config, batch_size

def run(ctx):
  model, data_config, batch_size = init(ctx)
  predict_utils.predict(ctx, batch_size, data_config, model)
/
"""))

In [6]:
r=c.execute("""
select train_sgd_classifier(
                mode, id, age, fnlwgt, education_num, capitalgain, capitalloss, hoursperweek, 
                workclass, education, marital_status, occupation, relationship, race, sex, native_country, class
                order by mode desc nulls last)
from (
  select 'c'  as mode, null as id,
  -1 as age, -1 as fnlwgt, -1 as education_num, -1 as capitalgain, -1 as capitalloss, -1 hoursperweek, 
  (SELECT MAX(id) FROM WORKCLASS_CATEGORIES) as workclass,
  (SELECT MAX(id) FROM EDUCATION_CATEGORIES) as education,
  (SELECT MAX(id) FROM MARITAL_STATUS_CATEGORIES) as marital_status,
  (SELECT MAX(id) FROM OCCUPATION_CATEGORIES) as occupation,
  (SELECT MAX(id) FROM RELATIONSHIP_CATEGORIES) as relationship,
  (SELECT MAX(id) FROM RACE_CATEGORIES) as race,
  (SELECT MAX(id) FROM SEX_CATEGORIES) as sex,
  (SELECT MAX(id) FROM NATIVE_COUNTRY_CATEGORIES) as native_country,
  (SELECT MAX(id) FROM CLASS_CATEGORIES) as class
  union all
  select null as mode, id, age, fnlwgt, education_num, capitalgain, capitalloss, hoursperweek, 
          workclass, education, marital_status, occupation, relationship, race, sex, native_country, class
  from adult_preprocessed
  limit 100
) as q
""")
base_path=r.fetchone()[0]
print("base_path:",base_path)
for i,t in enumerate(r.fetchall()):
  print(t[0])
  if i>50:
    break

base_path: models/b3db178f-a873-4491-b751-dcf9ab8dddf6
epoch:0 score:0.9393939393939394
epoch:1 score:0.9595959595959596
epoch:2 score:0.9393939393939394
epoch:3 score:0.9696969696969697
epoch:4 score:0.9494949494949495

In [7]:
print(base_path)

models/b3db178f-a873-4491-b751-dcf9ab8dddf6

In [8]:
r=c.execute(f"""
select predict_sgd_classifier(
                mode, id, age, fnlwgt, education_num, capitalgain, capitalloss, hoursperweek, 
                workclass, education, marital_status, occupation, relationship, race, sex, native_country, class
                order by mode desc nulls last)
from (
  select '{base_path}' as mode, id, age, fnlwgt, education_num, capitalgain, capitalloss, hoursperweek, 
          workclass, education, marital_status, occupation, relationship, race, sex, native_country, class
  from adult_preprocessed
) as q
group by iproc(), mod(rownum,2)
""")
r.fetchall()

[(4, 0, 0, 'prediction'),
 (6, 0, 1, 'prediction'),
 (9, 1, 0, 'prediction'),
 (10, 1, 1, 'prediction'),
 (12, 1, 1, 'prediction'),
 (16, 0, 0, 'prediction'),
 (18, 0, 0, 'prediction'),
 (20, 1, 0, 'prediction'),
 (21, 1, 1, 'prediction'),
 (24, 0, 0, 'prediction'),
 (25, 0, 0, 'prediction'),
 (27, 0, 0, 'prediction'),
 (30, 0, 1, 'prediction'),
 (32, 0, 0, 'prediction'),
 (34, 0, 0, 'prediction'),
 (36, 0, 0, 'prediction'),
 (40, 0, 1, 'prediction'),
 (42, 0, 1, 'prediction'),
 (44, 0, 0, 'prediction'),
 (45, 0, 0, 'prediction'),
 (47, 0, 0, 'prediction'),
 (50, 0, 0, 'prediction'),
 (51, 0, 1, 'prediction'),
 (55, 0, 0, 'prediction'),
 (57, 0, 0, 'prediction'),
 (59, 0, 0, 'prediction'),
 (61, 0, 1, 'prediction'),
 (64, 1, 1, 'prediction'),
 (66, 0, 1, 'prediction'),
 (67, 0, 0, 'prediction'),
 (71, 0, 0, 'prediction'),
 (72, 0, 0, 'prediction'),
 (74, 0, 0, 'prediction'),
 (76, 0, 0, 'prediction'),
 (80, 0, 1, 'prediction'),
 (82, 0, 0, 'prediction'),
 (83, 0, 0, 'prediction'),
 (86, 0, 0, 'prediction'),
 (87, 1, 1, 'prediction'),
 (89, 0, 0, 'prediction'),
 (92, 0, 0, 'prediction'),
 (95, 1, 1, 'prediction'),
 (97, 1, 1, 'prediction'),
 (99, 0, 0, 'prediction'),
 (100, 0, 0, 'prediction'),
 (102, 1, 1, 'prediction'),
 (104, 0, 0, 'prediction'),
 (106, 1, 1, 'prediction'),
 (110, 0, 0, 'prediction'),
 (112, 1, 1, 'prediction'),
 (114, 0, 1, 'prediction'),
 (116, 0, 1, 'prediction'),
 (118, 1, 1, 'prediction'),
 (120, 0, 0, 'prediction'),
 (121, 0, 0, 'prediction'),
 (123, 0, 0, 'prediction'),
 (125, 0, 0, 'prediction'),
 (127, 0, 0, 'prediction'),
 (130, 0, 0, 'prediction'),
 (132, 0, 0, 'prediction'),
 (134, 0, 0, 'prediction'),
 (137, 0, 1, 'prediction'),
 (138, 0, 1, 'prediction'),
 (140, 1, 0, 'prediction'),
 (143, 0, 0, 'prediction'),
 (144, 1, 0, 'prediction'),
 (147, 0, 0, 'prediction'),
 (148, 0, 0, 'prediction'),
 (152, 0, 0, 'prediction'),
 (154, 0, 0, 'prediction'),
 (157, 0, 0, 'prediction'),
 (159, 0, 0, 'prediction'),
 (162, 0, 0, 'prediction'),
 (164, 0, 0, 'prediction'),
 (165, 1, 1, 'prediction'),
 (168, 0, 0, 'prediction'),
 (170, 0, 0, 'prediction'),
 (171, 0, 0, 'prediction'),
 (173, 1, 0, 'prediction'),
 (175, 1, 1, 'prediction'),
 (178, 0, 0, 'prediction'),
 (180, 0, 1, 'prediction'),
 (182, 0, 0, 'prediction'),
 (183, 0, 0, 'prediction'),
 (185, 1, 1, 'prediction'),
 (189, 0, 1, 'prediction'),
 (190, 1, 1, 'prediction'),
 (193, 0, 1, 'prediction'),
 (195, 0, 1, 'prediction'),
 (197, 0, 0, 'prediction'),
 (198, 1, 0, 'prediction'),
 (200, 0, 0, 'prediction'),
 (204, 0, 0, 'prediction'),
 (206, 0, 0, 'prediction'),
 (207, 1, 0, 'prediction'),
 (210, 0, 0, 'prediction'),
 (211, 0, 1, 'prediction'),
 (214, 0, 0, 'prediction'),
 (216, 1, 0, 'prediction'),
 (217, 0, 0, 'prediction'),
 (219, 0, 1, 'prediction'),
 (221, 0, 0, 'prediction'),
 (224, 0, 0, 'prediction'),
 (226, 0, 0, 'prediction'),
 (230, 0, 0, 'prediction'),
 (231, 0, 0, 'prediction'),
 (234, 0, 0, 'prediction'),
 (235, 1, 0, 'prediction'),
 (238, 1, 0, 'prediction'),
 (240, 0, 0, 'prediction'),
 (242, 0, 1, 'prediction'),
 (243, 0, 1, 'prediction'),
 (247, 1, 0, 'prediction'),
 (251, 1, 1, 'prediction'),
 (253, 0, 0, 'prediction'),
 (254, 0, 0, 'prediction'),
 (256, 1, 0, 'prediction'),
 (258, 0, 0, 'prediction'),
 (261, 0, 0, 'prediction'),
 (262, 0, 0, 'prediction'),
 (264, 0, 1, 'prediction'),
 (266, 1, 0, 'prediction'),
 (270, 1, 1, 'prediction'),
 (271, 1, 1, 'prediction'),
 (273, 0, 1, 'prediction'),
 (276, 0, 0, 'prediction'),
 (278, 0, 0, 'prediction'),
 (280, 1, 1, 'prediction'),
 (282, 1, 1, 'prediction'),
 (283, 0, 0, 'prediction'),
 (286, 1, 1, 'prediction'),
 (288, 0, 0, 'prediction'),
 (289, 0, 0, 'prediction'),
 (291, 0, 0, 'prediction'),
 (294, 0, 0, 'prediction'),
 (295, 0, 0, 'prediction'),
 (299, 0, 0, 'prediction'),
 (301, 1, 1, 'prediction'),
 (302, 0, 0, 'prediction'),
 (304, 1, 1, 'prediction'),
 (306, 0, 0, 'prediction'),
 (309, 1, 1, 'prediction'),
 (311, 0, 0, 'prediction'),
 (314, 1, 0, 'prediction'),
 (315, 0, 0, 'prediction'),
 (317, 0, 1, 'prediction'),
 (319, 0, 0, 'prediction'),
 (322, 0, 1, 'prediction'),
 (324, 0, 0, 'prediction'),
 (325, 0, 1, 'prediction'),
 (329, 0, 1, 'prediction'),
 (331, 0, 0, 'prediction'),
 (333, 0, 0, 'prediction'),
 (335, 0, 0, 'prediction'),
 (337, 0, 0, 'prediction'),
 (339, 0, 0, 'prediction'),
 (341, 0, 0, 'prediction'),
 (343, 1, 1, 'prediction'),
 (345, 0, 0, 'prediction'),
 (346, 0, 0, 'prediction'),
 (350, 0, 0, 'prediction'),
 (352, 0, 0, 'prediction'),
 (354, 0, 1, 'prediction'),
 (357, 0, 0, 'prediction'),
 (360, 0, 1, 'prediction'),
 (361, 0, 1, 'prediction'),
 (363, 0, 0, 'prediction'),
 (365, 0, 0, 'prediction'),
 (367, 0, 1, 'prediction'),
 (369, 1, 0, 'prediction'),
 (371, 0, 0, 'prediction'),
 (373, 1, 1, 'prediction'),
 (375, 0, 0, 'prediction'),
 (377, 0, 1, 'prediction'),
 (379, 0, 0, 'prediction'),
 (381, 0, 0, 'prediction'),
 (384, 0, 0, 'prediction'),
 (386, 0, 0, 'prediction'),
 (387, 0, 0, 'prediction'),
 (389, 0, 0, 'prediction'),
 (391, 1, 0, 'prediction'),
 (393, 0, 1, 'prediction'),
 (397, 0, 0, 'prediction'),
 (399, 1, 1, 'prediction'),
 (401, 0, 0, 'prediction'),
 (404, 0, 0, 'prediction'),
 (405, 0, 0, 'prediction'),
 (407, 0, 0, 'prediction'),
 (410, 0, 1, 'prediction'),
 (412, 0, 0, 'prediction'),
 (415, 0, 1, 'prediction'),
 (417, 0, 0, 'prediction'),
 (418, 0, 0, 'prediction'),
 (421, 0, 0, 'prediction'),
 (423, 1, 1, 'prediction'),
 (424, 0, 0, 'prediction'),
 (427, 0, 0, 'prediction'),
 (429, 1, 1, 'prediction'),
 (433, 0, 1, 'prediction'),
 (435, 0, 0, 'prediction'),
 (437, 0, 0, 'prediction'),
 (438, 0, 0, 'prediction'),
 (441, 0, 0, 'prediction'),
 (442, 0, 0, 'prediction'),
 (444, 1, 0, 'prediction'),
 (446, 0, 0, 'prediction'),
 (449, 0, 0, 'prediction'),
 (451, 0, 0, 'prediction'),
 (453, 1, 1, 'prediction'),
 (457, 0, 1, 'prediction'),
 (458, 0, 0, 'prediction'),
 (461, 0, 0, 'prediction'),
 (463, 0, 1, 'prediction'),
 (466, 0, 1, 'prediction'),
 (467, 0, 0, 'prediction'),
 (469, 1, 0, 'prediction'),
 (473, 0, 0, 'prediction'),
 (475, 0, 0, 'prediction'),
 (477, 0, 0, 'prediction'),
 (479, 0, 0, 'prediction'),
 (480, 0, 0, 'prediction'),
 (482, 0, 1, 'prediction'),
 (486, 0, 0, 'prediction'),
 (488, 0, 1, 'prediction'),
 (491, 0, 0, 'prediction'),
 (492, 0, 0, 'prediction'),
 (494, 0, 0, 'prediction'),
 (497, 0, 0, 'prediction'),
 (499, 0, 0, 'prediction'),
 (501, 0, 0, 'prediction'),
 (503, 0, 0, 'prediction'),
 (505, 0, 0, 'prediction'),
 (507, 0, 0, 'prediction'),
 (510, 0, 0, 'prediction'),
 (511, 0, 0, 'prediction'),
 (514, 1, 0, 'prediction'),
 (520, 1, 1, 'prediction'),
 (522, 1, 1, 'prediction'),
 (524, 1, 1, 'prediction'),
 (526, 0, 1, 'prediction'),
 (527, 1, 1, 'prediction'),
 (530, 0, 1, 'prediction'),
 (531, 0, 0, 'prediction'),
 (533, 0, 0, 'prediction'),
 (536, 0, 0, 'prediction'),
 (537, 0, 0, 'prediction'),
 (541, 0, 0, 'prediction'),
 (543, 0, 0, 'prediction'),
 (544, 0, 0, 'prediction'),
 (547, 0, 0, 'prediction'),
 (548, 0, 1, 'prediction'),
 (550, 0, 0, 'prediction'),
 (553, 0, 0, 'prediction'),
 (555, 1, 0, 'prediction'),
 (557, 0, 0, 'prediction'),
 (559, 0, 1, 'prediction'),
 (561, 0, 0, 'prediction'),
 (563, 1, 0, 'prediction'),
 (566, 0, 0, 'prediction'),
 (568, 0, 0, 'prediction'),
 (569, 0, 1, 'prediction'),
 (571, 0, 0, 'prediction'),
 (573, 0, 0, 'prediction'),
 (576, 1, 1, 'prediction'),
 (578, 0, 0, 'prediction'),
 (582, 1, 0, 'prediction'),
 (584, 0, 0, 'prediction'),
 (586, 0, 0, 'prediction'),
 (587, 0, 0, 'prediction'),
 (589, 1, 1, 'prediction'),
 (593, 1, 0, 'prediction'),
 (596, 0, 0, 'prediction'),
 (599, 0, 0, 'prediction'),
 (600, 0, 0, 'prediction'),
 (602, 0, 0, 'prediction'),
 (605, 0, 0, 'prediction'),
 (606, 0, 0, 'prediction'),
 (608, 0, 0, 'prediction'),
 (611, 0, 0, 'prediction'),
 (612, 0, 0, 'prediction'),
 (614, 0, 0, 'prediction'),
 (617, 0, 0, 'prediction'),
 (619, 0, 1, 'prediction'),
 (621, 0, 0, 'prediction'),
 (623, 0, 0, 'prediction'),
 (624, 0, 1, 'prediction'),
 (626, 0, 0, 'prediction'),
 (628, 0, 1, 'prediction'),
 (630, 1, 0, 'prediction'),
 (632, 0, 0, 'prediction'),
 (635, 0, 1, 'prediction'),
 (636, 0, 0, 'prediction'),
 (638, 1, 1, 'prediction'),
 (640, 1, 1, 'prediction'),
 (642, 0, 1, 'prediction'),
 (644, 1, 1, 'prediction'),
 (646, 1, 1, 'prediction'),
 (650, 1, 1, 'prediction'),
 (652, 0, 0, 'prediction'),
 (654, 0, 0, 'prediction'),
 (656, 0, 0, 'prediction'),
 (658, 0, 1, 'prediction'),
 (660, 1, 0, 'prediction'),
 (662, 0, 0, 'prediction'),
 (664, 0, 0, 'prediction'),
 (666, 1, 0, 'prediction'),
 (668, 1, 1, 'prediction'),
 (671, 0, 0, 'prediction'),
 (674, 1, 1, 'prediction'),
 (677, 0, 0, 'prediction'),
 (679, 0, 0, 'prediction'),
 (681, 0, 0, 'prediction'),
 (683, 1, 1, 'prediction'),
 (685, 0, 0, 'prediction'),
 (688, 0, 1, 'prediction'),
 (689, 0, 0, 'prediction'),
 (691, 0, 1, 'prediction'),
 (694, 0, 0, 'prediction'),
 (695, 0, 0, 'prediction'),
 (698, 1, 0, 'prediction'),
 (700, 0, 0, 'prediction'),
 (703, 0, 0, 'prediction'),
 (705, 1, 0, 'prediction'),
 (707, 0, 0, 'prediction'),
 (709, 0, 1, 'prediction'),
 (711, 0, 1, 'prediction'),
 (712, 0, 0, 'prediction'),
 (716, 0, 0, 'prediction'),
 (717, 0, 0, 'prediction'),
 (719, 0, 0, 'prediction'),
 (721, 0, 0, 'prediction'),
 (723, 0, 0, 'prediction'),
 (725, 1, 1, 'prediction'),
 (728, 0, 0, 'prediction'),
 (732, 0, 0, 'prediction'),
 (733, 0, 1, 'prediction'),
 (737, 0, 0, 'prediction'),
 (738, 0, 1, 'prediction'),
 (741, 0, 0, 'prediction'),
 (742, 0, 1, 'prediction'),
 (745, 0, 0, 'prediction'),
 (746, 1, 1, 'prediction'),
 (749, 0, 0, 'prediction'),
 (751, 1, 1, 'prediction'),
 (753, 0, 1, 'prediction'),
 (755, 0, 0, 'prediction'),
 (757, 1, 0, 'prediction'),
 (758, 0, 0, 'prediction'),
 (761, 0, 0, 'prediction'),
 (763, 0, 0, 'prediction'),
 (765, 1, 0, 'prediction'),
 (766, 0, 0, 'prediction'),
 (769, 0, 0, 'prediction'),
 (770, 0, 0, 'prediction'),
 (773, 0, 0, 'prediction'),
 (774, 1, 1, 'prediction'),
 (776, 0, 0, 'prediction'),
 (780, 0, 0, 'prediction'),
 (782, 0, 0, 'prediction'),
 (784, 0, 1, 'prediction'),
 (786, 0, 0, 'prediction'),
 (788, 0, 0, 'prediction'),
 (792, 0, 1, 'prediction'),
 (796, 0, 0, 'prediction'),
 (798, 0, 0, 'prediction'),
 (800, 1, 0, 'prediction'),
 (802, 0, 0, 'prediction'),
 (804, 0, 0, 'prediction'),
 (806, 1, 1, 'prediction'),
 (809, 1, 0, 'prediction'),
 (811, 0, 0, 'prediction'),
 (813, 0, 0, 'prediction'),
 (815, 0, 0, 'prediction'),
 (817, 0, 0, 'prediction'),
 (819, 0, 0, 'prediction'),
 (821, 0, 0, 'prediction'),
 (824, 0, 0, 'prediction'),
 (825, 0, 1, 'prediction'),
 (828, 0, 0, 'prediction'),
 (829, 0, 0, 'prediction'),
 (833, 0, 0, 'prediction'),
 (836, 0, 0, 'prediction'),
 (838, 1, 0, 'prediction'),
 (839, 0, 0, 'prediction'),
 (841, 0, 0, 'prediction'),
 (843, 1, 0, 'prediction'),
 (846, 0, 0, 'prediction'),
 (847, 0, 0, 'prediction'),
 (849, 0, 1, 'prediction'),
 (852, 0, 0, 'prediction'),
 (853, 0, 1, 'prediction'),
 (856, 0, 0, 'prediction'),
 (857, 0, 0, 'prediction'),
 (860, 1, 0, 'prediction'),
 (862, 0, 0, 'prediction'),
 (864, 0, 1, 'prediction'),
 (866, 0, 0, 'prediction'),
 (867, 0, 0, 'prediction'),
 (869, 1, 0, 'prediction'),
 (871, 1, 1, 'prediction'),
 (873, 1, 1, 'prediction'),
 (875, 0, 0, 'prediction'),
 (878, 0, 0, 'prediction'),
 (879, 1, 0, 'prediction'),
 (881, 0, 0, 'prediction'),
 (883, 0, 1, 'prediction'),
 (887, 0, 0, 'prediction'),
 (890, 0, 0, 'prediction'),
 (892, 0, 0, 'prediction'),
 (895, 1, 1, 'prediction'),
 (897, 0, 0, 'prediction'),
 (898, 0, 0, 'prediction'),
 (900, 0, 0, 'prediction'),
 (902, 0, 1, 'prediction'),
 (906, 0, 0, 'prediction'),
 (907, 0, 0, 'prediction'),
 (909, 0, 0, 'prediction'),
 (911, 0, 0, 'prediction'),
 (913, 0, 1, 'prediction'),
 (915, 0, 0, 'prediction'),
 (918, 1, 1, 'prediction'),
 (920, 0, 0, 'prediction'),
 (922, 0, 0, 'prediction'),
 (923, 0, 0, 'prediction'),
 (927, 0, 0, 'prediction'),
 (929, 0, 0, 'prediction'),
 (931, 0, 0, 'prediction'),
 (934, 0, 0, 'prediction'),
 (935, 1, 0, 'prediction'),
 (938, 1, 1, 'prediction'),
 (940, 1, 0, 'prediction'),
 (941, 0, 0, 'prediction'),
 (943, 1, 1, 'prediction'),
 (946, 0, 0, 'prediction'),
 (948, 1, 1, 'prediction'),
 (949, 0, 0, 'prediction'),
 (952, 1, 0, 'prediction'),
 (953, 0, 0, 'prediction'),
 (957, 1, 1, 'prediction'),
 (959, 1, 1, 'prediction'),
 (961, 0, 0, 'prediction'),
 (962, 0, 0, 'prediction'),
 (965, 0, 0, 'prediction'),
 (966, 0, 0, 'prediction'),
 (968, 0, 1, 'prediction'),
 (971, 1, 1, 'prediction'),
 (974, 0, 1, 'prediction'),
 (976, 0, 0, 'prediction'),
 (978, 1, 1, 'prediction'),
 (979, 0, 0, 'prediction'),
 (982, 0, 0, 'prediction'),
 (984, 0, 0, 'prediction'),
 (987, 0, 0, 'prediction'),
 (989, 0, 0, 'prediction'),
 (990, 0, 0, 'prediction'),
 (992, 0, 0, 'prediction'),
 (994, 1, 0, 'prediction'),
 (996, 1, 1, 'prediction'),
 (998, 1, 0, 'prediction'),
 (1000, 1, 1, 'prediction'),
 (1002, 1, 1, 'prediction'),
 (1004, 0, 0, 'prediction'),
 (1006, 0, 0, 'prediction'),
 (1008, 1, 1, 'prediction'),
 (1010, 0, 0, 'prediction'),
 (1013, 1, 0, 'prediction'),
 (1015, 0, 0, 'prediction'),
 (1017, 1, 1, 'prediction'),
 (1019, 0, 0, 'prediction'),
 (1022, 1, 1, 'prediction'),
 (1023, 0, 0, 'prediction'),
 (1026, 0, 0, 'prediction'),
 (1029, 0, 1, 'prediction'),
 (1030, 0, 0, 'prediction'),
 (1033, 0, 0, 'prediction'),
 (1034, 0, 0, 'prediction'),
 (1041, 0, 0, 'prediction'),
 (1043, 0, 0, 'prediction'),
 (1044, 1, 1, 'prediction'),
 (1048, 0, 0, 'prediction'),
 (1049, 0, 0, 'prediction'),
 (1051, 0, 0, 'prediction'),
 (1053, 1, 1, 'prediction'),
 (1055, 0, 0, 'prediction'),
 (1057, 0, 1, 'prediction'),
 (1060, 1, 1, 'prediction'),
 (1062, 0, 0, 'prediction'),
 (1064, 0, 0, 'prediction'),
 (1065, 1, 0, 'prediction'),
 (1067, 1, 1, 'prediction'),
 (1069, 0, 1, 'prediction'),
 (1071, 0, 0, 'prediction'),
 (1073, 1, 1, 'prediction'),
 (1076, 0, 0, 'prediction'),
 (1077, 0, 0, 'prediction'),
 (1079, 0, 1, 'prediction'),
 (1081, 0, 0, 'prediction'),
 (1084, 1, 1, 'prediction'),
 (1086, 0, 1, 'prediction'),
 (1088, 0, 0, 'prediction'),
 (1090, 0, 0, 'prediction'),
 (1092, 1, 0, 'prediction'),
 (1094, 0, 0, 'prediction'),
 (1096, 0, 0, 'prediction'),
 (1099, 1, 1, 'prediction'),
 (1102, 1, 1, 'prediction'),
 (1104, 0, 1, 'prediction'),
 (1105, 1, 1, 'prediction'),
 (1108, 0, 0, 'prediction'),
 (1110, 0, 1, 'prediction'),
 (1112, 1, 1, 'prediction'),
 (1113, 0, 0, 'prediction'),
 (1115, 0, 0, 'prediction'),
 (1118, 0, 0, 'prediction'),
 (1121, 0, 0, 'prediction'),
 (1122, 0, 0, 'prediction'),
 (1124, 0, 0, 'prediction'),
 (1126, 0, 0, 'prediction'),
 (1128, 0, 0, 'prediction'),
 (1130, 0, 1, 'prediction'),
 (1133, 0, 0, 'prediction'),
 (1137, 1, 1, 'prediction'),
 (1139, 0, 1, 'prediction'),
 (1141, 0, 0, 'prediction'),
 (1142, 0, 0, 'prediction'),
 (1145, 0, 1, 'prediction'),
 (1147, 0, 0, 'prediction'),
 (1148, 0, 0, 'prediction'),
 (1150, 1, 1, 'prediction'),
 (1154, 0, 1, 'prediction'),
 (1156, 0, 0, 'prediction'),
 (1158, 1, 1, 'prediction'),
 (1160, 0, 0, 'prediction'),
 (1162, 0, 0, 'prediction'),
 (1164, 1, 1, 'prediction'),
 (1166, 0, 0, 'prediction'),
 (1169, 0, 1, 'prediction'),
 (1172, 0, 0, 'prediction'),
 (1173, 1, 0, 'prediction'),
 (1175, 0, 0, 'prediction'),
 (1179, 0, 0, 'prediction'),
 (1180, 0, 0, 'prediction'),
 (1184, 0, 0, 'prediction'),
 (1187, 0, 0, 'prediction'),
 (1188, 0, 1, 'prediction'),
 (1191, 0, 0, 'prediction'),
 (1193, 0, 0, 'prediction'),
 (1195, 0, 0, 'prediction'),
 (1197, 0, 1, 'prediction'),
 (1199, 0, 0, 'prediction'),
 (1201, 1, 1, 'prediction'),
 (1203, 0, 0, 'prediction'),
 (1205, 0, 1, 'prediction'),
 (1207, 0, 1, 'prediction'),
 (1210, 0, 0, 'prediction'),
 (1212, 0, 0, 'prediction'),
 (1215, 0, 0, 'prediction'),
 (1219, 0, 0, 'prediction'),
 (1221, 1, 1, 'prediction'),
 (1223, 0, 1, 'prediction'),
 (1224, 0, 0, 'prediction'),
 (1228, 0, 1, 'prediction'),
 (1229, 0, 0, 'prediction'),
 (1231, 1, 0, 'prediction'),
 (1233, 0, 0, 'prediction'),
 (1236, 0, 0, 'prediction'),
 (1238, 0, 0, 'prediction'),
 (1240, 0, 0, 'prediction'),
 (1241, 1, 0, 'prediction'),
 (1243, 0, 0, 'prediction'),
 (1245, 0, 0, 'prediction'),
 (1248, 0, 0, 'prediction'),
 (1249, 0, 1, 'prediction'),
 (1252, 0, 1, 'prediction'),
 (1254, 0, 0, 'prediction'),
 (1256, 0, 0, 'prediction'),
 (1259, 1, 1, 'prediction'),
 (1261, 0, 1, 'prediction'),
 (1264, 0, 0, 'prediction'),
 (1265, 0, 0, 'prediction'),
 (1268, 0, 1, 'prediction'),
 (1270, 0, 0, 'prediction'),
 (1271, 0, 0, 'prediction'),
 (1274, 0, 0, 'prediction'),
 (1276, 1, 1, 'prediction'),
 (1278, 1, 1, 'prediction'),
 (1280, 0, 0, 'prediction'),
 (1282, 1, 0, 'prediction'),
 (1284, 0, 0, 'prediction'),
 (1287, 1, 1, 'prediction'),
 (1289, 0, 0, 'prediction'),
 (1292, 0, 0, 'prediction'),
 (1293, 0, 0, 'prediction'),
 (1295, 0, 0, 'prediction'),
 (1297, 0, 0, 'prediction'),
 (1299, 0, 0, 'prediction'),
 (1301, 0, 0, 'prediction'),
 (1303, 1, 1, 'prediction'),
 (1305, 0, 1, 'prediction'),
 (1307, 0, 0, 'prediction'),
 (1310, 1, 1, 'prediction'),
 (1311, 0, 1, 'prediction'),
 (1314, 0, 0, 'prediction'),
 (1317, 1, 1, 'prediction'),
 (1320, 1, 1, 'prediction'),
 (1321, 0, 0, 'prediction'),
 (1323, 1, 0, 'prediction'),
 (1325, 1, 0, 'prediction'),
 (1329, 0, 0, 'prediction'),
 (1332, 0, 0, 'prediction'),
 (1333, 0, 0, 'prediction'),
 (1335, 1, 1, 'prediction'),
 (1338, 1, 1, 'prediction'),
 (1339, 0, 0, 'prediction'),
 (1341, 0, 1, 'prediction'),
 (1344, 0, 0, 'prediction'),
 (1346, 0, 0, 'prediction'),
 (1347, 1, 1, 'prediction'),
 (1352, 1, 1, 'prediction'),
 (1355, 0, 0, 'prediction'),
 (1357, 0, 0, 'prediction'),
 (1359, 0, 0, 'prediction'),
 (1361, 0, 0, 'prediction'),
 (1364, 0, 0, 'prediction'),
 (1366, 0, 0, 'prediction'),
 (1368, 0, 0, 'prediction'),
 (1369, 1, 0, 'prediction'),
 (1371, 0, 0, 'prediction'),
 (1375, 0, 0, 'prediction'),
 (1377, 0, 1, 'prediction'),
 (1379, 1, 1, 'prediction'),
 (1380, 0, 0, 'prediction'),
 (1382, 0, 0, 'prediction'),
 (1384, 0, 0, 'prediction'),
 (1386, 0, 0, 'prediction'),
 (1388, 1, 0, 'prediction'),
 (1393, 0, 0, 'prediction'),
 (1395, 0, 0, 'prediction'),
 (1397, 0, 1, 'prediction'),
 (1399, 0, 1, 'prediction'),
 (1401, 0, 0, 'prediction'),
 (1402, 0, 1, 'prediction'),
 (1406, 1, 0, 'prediction'),
 (1408, 1, 1, 'prediction'),
 (1409, 0, 0, 'prediction'),
 (1412, 0, 0, 'prediction'),
 (1414, 1, 0, 'prediction'),
 (1416, 0, 1, 'prediction'),
 (1418, 1, 1, 'prediction'),
 (1419, 1, 1, 'prediction'),
 (1423, 0, 0, 'prediction'),
 (1424, 0, 0, 'prediction'),
 (1426, 0, 0, 'prediction'),
 (1429, 0, 0, 'prediction'),
 (1431, 0, 0, 'prediction'),
 (1433, 1, 0, 'prediction'),
 (1436, 0, 1, 'prediction'),
 (1437, 0, 0, 'prediction'),
 (1439, 0, 0, 'prediction'),
 (1441, 0, 1, 'prediction'),
 (1444, 0, 0, 'prediction'),
 (1446, 0, 1, 'prediction'),
 (1448, 0, 1, 'prediction'),
 (1450, 1, 1, 'prediction'),
 (1452, 0, 0, 'prediction'),
 (1455, 1, 1, 'prediction'),
 (1458, 0, 0, 'prediction'),
 (1461, 1, 1, 'prediction'),
 (1463, 1, 0, 'prediction'),
 (1465, 0, 0, 'prediction'),
 (1467, 0, 1, 'prediction'),
 (1468, 0, 0, 'prediction'),
 (1470, 1, 1, 'prediction'),
 (1472, 0, 0, 'prediction'),
 (1475, 0, 0, 'prediction'),
 (1476, 0, 0, 'prediction'),
 (1478, 0, 0, 'prediction'),
 (1481, 0, 1, 'prediction'),
 (1483, 1, 1, 'prediction'),
 (1485, 1, 1, 'prediction'),
 (1487, 0, 0, 'prediction'),
 (1488, 0, 0, 'prediction'),
 (1491, 0, 0, 'prediction'),
 (1492, 0, 0, 'prediction'),
 (1494, 1, 1, 'prediction'),
 (1496, 1, 1, 'prediction'),
 (1499, 1, 1, 'prediction'),
 (1501, 1, 1, 'prediction'),
 (1503, 0, 0, 'prediction'),
 (1506, 0, 1, 'prediction'),
 (1508, 0, 0, 'prediction'),
 (1509, 0, 0, 'prediction'),
 (1511, 0, 0, 'prediction'),
 (1513, 1, 1, 'prediction'),
 (1515, 1, 1, 'prediction'),
 (1517, 1, 0, 'prediction'),
 (1520, 0, 0, 'prediction'),
 (1522, 0, 0, 'prediction'),
 (1524, 0, 0, 'prediction'),
 (1525, 0, 0, 'prediction'),
 (1527, 0, 0, 'prediction'),
 (1529, 1, 1, 'prediction'),
 (1532, 1, 0, 'prediction'),
 (1533, 1, 0, 'prediction'),
 (1536, 0, 0, 'prediction'),
 (1537, 0, 1, 'prediction'),
 (1540, 0, 0, 'prediction'),

In [6]:
#r=c.execute("select count(*) from adult_preprocessed")
r=c.execute("select count(*) from (select 1 union all (select age from adult_preprocessed limit 10)) as q")
r.fetchall()

[(10,)]

  age integer,
  workclass varchar(2000000),
  fnlwgt integer,	
  education varchar(2000000),
  education_num integer,	
  marital_status varchar(2000000),
  occupation varchar(2000000),
  relationship varchar(2000000),
  race varchar(2000000),
  sex varchar(2000000),
  capitalgain integer,	
  capitalloss integer,	
  hoursperweek integer,
  native_country varchar(2000000),
  class varchar(2000000)